.dropdownWrapper {
    max-width: 200px;
}

.dropdownHeader {
    cursor: pointer;
    height: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 15px;
}

.dropdownPlaceholder {
    opacity: 0.4;
}

.dropdownListContainer {
    list-style-type: none;
    padding: 0;
}

.chevron {
    margin-left: 10px;
}