$black:#000000;
$white:#ffffff;
$lightGrey: #ccc;

.dropdownWrapper {
    position: relative;
    width: 100%;
}

.dropdownHeader {
    cursor: pointer;
    height: 40px;
    border: 1px solid $black;
    box-sizing: border-box;
    padding: 10px 40px 10px 15px;
    position: relative;
    text-align: left;
    overflow: hidden;
}

.dropdownPlaceholder {
    opacity: 0.4;
}

.dropdownListContainer {
    list-style-type: none;
    padding: 0;   
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}
.dropdownListWrapper {
    border: 1px solid $lightGrey;
    position: absolute;
    left: 0;
    right: 0;
    background: $white;
    z-index: 10000;
}
