$lightGrey: #ccc;
$lightGreyOpacity: #cccccc4d;
$activeGrey: #d8d8d8;

.dropdownListItem {
    padding: 5px 10px;
    border-bottom: 1px solid $lightGrey;
    cursor: pointer;
    word-break: break-word;

    &:hover{
        background: $lightGreyOpacity
    }
}

.activeListItem {
    background: $activeGrey;
}