.dropdownHeader {
    cursor: pointer;
    height: 40px;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 10px 40px 10px 15px;
    position: relative;
    text-align: left;
    overflow: hidden;

    &:hover .dropdownClearBtn{
        display: inline;
    }
}

.dropdownPlaceholder {
    opacity: 0.4;
}

.chevron {
    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 1px;
    background: white;
    padding: 10px;
}

.dropdownLabel{
    font-size: 12px;
    text-align: left;
    margin: 10px 0 5px;
}

.dropdownClearBtn{
    position: absolute;
    right: 35px;
    top: 11px;
    display: none;
    background: white;
}